<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.shandian.mod.swipeback"
    android:versionCode="6"
    android:versionName="2.0.0" >
	
    <uses-sdk 
        android:minSdkVersion="16" 
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
		
		<activity
			android:label="@string/app_name"
			android:name=".ui.SwipeBackPerApp">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		
		<activity
			android:name=".ui.SwipeBackSettings">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		
		<activity
			android:label="@string/swipe_about_title"
			android:name=".ui.SwipeBackAbout">
			<intent-filter>
				<action android:name="us.shandian.mod.swipeback.intent.ABOUT"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="42+" android:name="xposedminversion"/>
        <meta-data android:value="@string/app_des" android:name="xposeddescription"/>
    </application>

</manifest>
